@keyframes cinematicText {
  0% {transform: scale(90) translateX(-1vw);}
  50% {transform: scale(4.5) translateX(0);}
  100% {transform: scale(2.5) translateX(0);}
}


.banner {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}
.banner h1 {
  font: bold 10rem/1 Impact, sans-serif;
  text-transform: uppercase;
  color: #fff;
  white-space: nowrap;
  animation: 5s cinematicText 6s  both 1 cubic-bezier(0, 0, .55, .55)
}
.banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left:0;
  mix-blend-mode: multiply;
}
